.hero{
    height:100vh;
    background: linear-gradient(180deg, #fde1ff, white 60%);
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.hero-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1.25rem;
    padding-left: 11.25rem;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 1.625rem;
    font-weight: 600;
}
.hero-left p{
    color:#171717;
    font-size: 6.25rem;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.hero-hand-icon img{
    width: 17%;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.93rem;
    width: 19.4rem;
    height: 4.4rem;
    border-radius: 4.7rem;
    margin-top: 1.87rem;
    font-size: 1.4rem;
    font-weight: 500;
    color:white;
    background: #ff4141;
    cursor: pointer;
    transition: all 0.6s ease;
}
.hero-latest-btn:hover{
    transform: scale(1.05);
}
.hero-latest-btn:active{
    color:#a9a0a0;
    transform: scale(0.97);
}
.hero-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1430px) {
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 80px;
    }
}
@media screen and (max-width:1296px) {
    .hero-left p{
        font-size: 70px;
    }
    .hero-right img{
        width: 550px;
        height: 750px;
    }
}
@media screen and (max-width:1169px) {
    .hero-left p{
        font-size: 60px;
    }
    .hero-latest-btn{
        width: 250px;
        height: 70px;
        font-size: 20px;
    }
}
@media screen and (max-width:1105px){
    .hero-left p{
        font-size: 50px;
    }
    .hero-right img{
        width: 500px;
        height: 700px;
    } 
}
@media screen and (max-width:998px){
    .hero-left p{
        font-size: 40px;
    }
    .hero-right img{
        width: 450px;
        height: 650px;
    } 
    .hero-latest-btn{
        width: 200px;
        height: 50px;
        font-size: 15px;
    }
}
@media screen and (max-width:898px){
    .hero-left p{
        font-size: 35px;
    }
    .hero-right img{
        width: 400px;
        height: 600px;
    } 
    .hero-latest-btn{
        width: 200px;
        height: 50px;
        font-size: 15px;
    }
}
/* @media screen and (max-width:786px){
    .hero{
        
    }
} */